<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">

<h2>確認画面</h2>

<%= form_for(@tweet) do |f| %>
    <%= f.hidden_field :content %>
    <p><%= @tweet.content %></p>
    <br>
    <%= f.submit "ツイートする",class: 'btn btn-primary btn-block' %>
<% end %>

<%= form_for(@tweet, url: new_tweet_path, method: 'get') do |f| %>
  <%= f.hidden_field :content %>
  <%= f.submit "もどる", name: 'back', class: 'btn btn-default btn-block' %>
<% end %>

  </div>
</div>