<div class="container row center-block">
  <p class="notice"><%= notice %></p>
  <div class="left col-md-4">
    <div class="left-inner">
      <h1>Testter</h1>
      <p>Railsの学習用に作成したテストサイトです。</p>
      <p class="tweet-btn-box"><%= link_to "ツイート", new_tweet_path, class:"tweet-btn" %></p>
    </div>
  </div>
  <div class="wrapper col-md-8">
    <div class="wrapper-inner">
      <% @tweets.each do |tweet| %>
        <div class="tweets-list">
          <p class="tweets-list-content"><%= tweet.content %></p>
          <div class="tweets-list-btn">
            <%= link_to "編集", edit_tweet_path(tweet.id), class: 'btn btn-default btn-sm btn-success' %>
            <%= link_to "削除", tweet_path(tweet.id), method: :delete, data: { confirm: '本当に削除していいですか？'}, class: 'btn btn-default btn-sm btn btn-danger' %>
          </div>
        </div>
      <% end %>
    </div>  
  </div>
</div>